/* color scheme  */
:root {
    --pagebackcolor: #136bc245;
    --boxcolor: #f1ef63;
    --fontcolor: #090a09db;
    --headercolor: hsla(240, 3%, 6%, 0.912);
  }
  
  /* highlight color and background */
  ::selection {
    background-color: var(--boxcolor);
    color: var(--pagebackcolor);
  }
  
  
  body {
    font-family: Arial, sans-serif;  
    line-height: 1;
    color: var(--fontcolor);
    background-color: var(--pagebackcolor);
  }
  

  header {
    width: 96%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  

  main {
    width: 96%;
    margin: 20px auto;
  }
  
  footer {
    margin: 10px;
    text-align: center;
  }
  
  
  .row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  
  .card-column {
    flex: 1 0 100%;
    padding: 20px;
    transition: flex-basis 500ms linear;
    margin-bottom: 50px;
  }
  
  .code-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
    padding: 2rem;
    color: var(--headercolor);
  
    outline: 2px dashed var(--fontcolor);
    outline-offset: -2px;
    transition: all 0.5s ease-in-out;
  }
  
  .code-card .card-header {
    position: relative;
    margin: -4rem 0 1.5rem 0;
    padding: 0.5rem 1rem;
    background-color: var(--pagebackcolor);
    color: var(--headercolor);
    border: 2px solid var(--fontcolor);
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
  }
  
  .code-card:hover,
  .code-card:hover .card-header {
    box-shadow: inset 0px 0px 8px var(--headercolor), 0 0 15px var(--headercolor);
  }
  
  /* each card's code block grows to the height of the largest code block on the page, making each card even in height */
  .code-card .code-block {
    flex-grow: 1;
  }
  
  .code-card pre {
    /* set styles to make it so code wraps in <pre> instead of overflowing */
    white-space: pre-wrap;
    overflow: auto;
    tab-size: 4;
    padding: 1.2rem 1rem;
    color: var(--fontcolor);
    border-radius: 8px;
    /* use linear-gradient() function to create a fading background  */
    background-image: linear-gradient(
      rgba(44, 150, 118, 0.3) 0%,
      rgba(25, 161, 74, 0.6) 100%
    );
    display: flex;
    align-items: center;
  }
  
  /* on <pre> click, select all contents so the code is highlighted */
  .code-card pre:active {
    user-select: all;
  }
  
  /* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
  @media screen and (min-width: 768px) {
    /* on tablets, set columns to only be 50% of the width and not grow */
    .card-column {
      flex: 0 0 50%;
      max-width: 50%;
    }
  
    /* select the last child to grow to full width if it has space to grow */
    .card-column:last-child {
      flex-grow: 1;
    }
  }
  
  /* media query for larger screens */
  @media screen and (min-width: 992px) {
    header {
      width: 75%;
    }
  
    .card-column {
      flex: 0 0 33.333%;
      max-width: 33.333%;
    }
  }
  